<div class="list-group">
    <a href="#" class="list-group-item active waves-light" mdbWavesEffect>
      Cras justo odio
    </a>
    <a href="#" class="list-group-item waves-light" mdbWavesEffect>Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item waves-light" mdbWavesEffect>Morbi leo risus</a>
    <a href="#" class="list-group-item waves-light" mdbWavesEffect>Porta ac consectetur ac</a>
    <a href="#" class="list-group-item waves-light" mdbWavesEffect>Vestibulum at eros</a>
</div>