<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form>
            <div class="form-group">
              <label for="userProject">Project</label>
              <input type="file" class="form-control" id="userProject">
            </div>
            <div class="form-group">
              <label for="userProjectTitle">Project Title</label>
              <input type="text" class="form-control" id="userProjectTitle" placeholder="Project title">
            </div>
            <div class="form-group">
                <label for="userProjectDescription">Project Title</label>
                <textarea type="text" class="form-control" id="userProjectDescription" placeholder="Project Description"></textarea>
            </div>
            <!-- <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>
</div>
